body {
  text-align: center;
  background-color: black;
}

.Ticket {
  width: 50%;
  /* this takes it out of position hirearchy */
}

.Home {
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left:0;
  justify-content: center;
  flex-direction: column
} 

.EnterButton {
  background-color: #8A2424;
  margin-top: 50px;
  border: 0;
  outline: none;
  height: 100px;
  width: 200px;
  font-size: 55px
}

.Gallery {
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left:0; 
}

.Gallery-title {
  color: gray;
}

.GalleryComponent {
  height: 100%;
  width: 100%
}

 .Carousel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10%
}

.ProjectImage {
  height: 100%;
  object-fit: cover;
  border: 3px solid yellow
}
.Project {
  width: 33%;
  height: 28%;
}

.HiddenInfo {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
